# General
*.out
*.csv
*.rar
*.zip
*.gct
*.cls
*.lnk

# Images
*.tiff

# R 
.Rproj.user
*.Rhistory
*.RData
*.RDataTmp
.Ruserdata
*.RDS
*.rds
*.Rout

# Others
data/

**/*_cache/
**/*GSEA*/
results/GBM-GSC neuroblastoma TE/2024-08-06_metabolicgenes-genesetenrichment/test-ComplexHeatmap.R
