# General
*.out
*.csv
*.rar
*.zip
*.gct
*.cls
*.lnk
*.gz
*.tar 

# Images
*.tiff

# R 
.Rproj.user
*.Rhistory
*.RData
*.RDataTmp
.Ruserdata
*.RDS
*.rds
*.Rout
*Rplots.pdf

# cellranger
*.gtf
*refdata*

# Others/Results
**/*_cache/
**/*GSEA*/

# Uninignored Files
!**/aggr_*.csv
!**/samples.csv
!**/gbm_gsc/2_seuratqc/cellcycle_genes.csv