.Rproj.user
*.Rhistory
*.RData
*.RDataTmp
.Ruserdata
*.RDS
*.rds
data/
*.tiff
*.Rout
*.out
*.csv
*.rar
*.zip
*.gct
*.cls
*.lnk

**/*_cache/
**/*GSEA*/
results/GBM-GSC neuroblastoma TE/2024-08-06_metabolicgenes-genesetenrichment/test-ComplexHeatmap.R
